iframe {
  margin: 0 0 1em;
}

.noborder {
  border: 0;
  overflow: hidden;
}

.claim-body {
  display: block;
  padding-top: 40px;
}

.claim-heading-container {
  display: flex;
  flex-direction: row;
}

.claim-image {
  margin-left: 20px;
  width: 80px;
}

@media (max-width: 768px) {

  .claim-heading-container {
    justify-content: center;
    min-height: 120px;
  }

  .claim-image {
    width: 60px;
    margin-left: 14px !important;
  }

}

@media (min-width: 769px) {

  .claim-body {
    margin: 40px 10% 0 10%;
  }

}
